[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
# command line tool
click = '>=5.1'
docopt = '>=0.6.2'
argparse = '>=1.4.0'

# web
flask-socketIO = ">=4.2.1"
flask = ">=1.1.2"
websocket = ">=0.2.1"
shadowsocks = ">=2.8.2"


[requires]
python_version = "3.7"
